
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
padding: 8% 10%;
width: 100%;
height: 100%;
}

#circle{
    width: 25vw;
    height: 25vw;
    margin-left: 27vw;
    border-radius: 50%;
    border: 0.3px solid #000;
}

#btn{
    width: 7vw;
    height: 3vw;
    padding: 2px;
    margin: 5vw 0 0 36vw;
    border-radius: 30px;
    font-size: 2vw;
    border: 0.3px solid #000;
}


@media (max-width:41rem) {

    #main{
        padding: 45% 10%;
        width: 100%;
        height: 100%;
        }

    #circle{
        width: 25vw;
        height: 25vw;
        margin-left: 27vw;
    }
    #btn{
        width: 7vw;
        height: 4vw;
        padding: 2px;
        margin: 5vw 0 0 36vw;
        border-radius: 30px;
        font-size: 2vw;
        border: 0.3px solid #000;
    }
}

@media (max-width:26.875rem)  {
    #main{
        padding: 75% 10%;
        width: 100%;
        height: 100%;
        }
}